AccessModifierOffset: 0
AlignAfterOpenBracket: DontAlign
AlignOperands: Align
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BasedOnStyle: LLVM
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IndentAccessModifiers: true
IndentWidth: 4
Language: Cpp
NamespaceIndentation: Inner
ReflowComments: true
SeparateDefinitionBlocks: Always
SpaceBeforeInheritanceColon: false
SortUsingDeclarations: true
TabWidth: 4
UseTab: Always













