Language: Cpp
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
IndentAccessModifiers: true
AccessModifierOffset: 0
BasedOnStyle: LLVM
NamespaceIndentation: Inner
IndentWidth: 4
UseTab: Always
TabWidth: 4
ReflowComments: true
ColumnLimit: 80
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
AllowShortEnumsOnASingleLine: false
FixNamespaceComments: false
SortUsingDeclarations: true
Cpp11BracedListStyle: true
AllowShortNamespacesOnASingleLine: true