Language: Cpp
# EmptyLineBeforeAccessModifier: Always
# IndentAccessModifiers: true
BasedOnStyle: LLVM
NamespaceIndentation: All
IndentWidth: 4
UseTab: Always
TabWidth: 4
ReflowComments: true
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AllowShortLambdasOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true