# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ext
collateral

# Binaries
bin/*
build/*
obj/*
.debris/*

bin/Debug/sorcery-sfml
bin/Debug/dat/strings.json
profiler_analysis.stats
inc/cereal/access.hpp
inc/cereal/cereal.hpp
inc/cereal/macros.hpp
inc/cereal/specialize.hpp
inc/cereal/version.hpp
inc/cereal/archives/adapters.hpp
inc/cereal/archives/binary.hpp
inc/cereal/archives/json.hpp
inc/cereal/archives/portable_binary.hpp
inc/cereal/archives/xml.hpp
inc/cereal/details/helpers.hpp
inc/cereal/details/polymorphic_impl_fwd.hpp
inc/cereal/details/polymorphic_impl.hpp
inc/cereal/details/static_object.hpp
inc/cereal/details/traits.hpp
inc/cereal/details/util.hpp
inc/cereal/external/base64.hpp
inc/cereal/external/LICENSE
inc/cereal/external/rapidjson/allocators.h
inc/cereal/external/rapidjson/cursorstreamwrapper.h
inc/cereal/external/rapidjson/document.h
inc/cereal/external/rapidjson/encodedstream.h
inc/cereal/external/rapidjson/encodings.h
inc/cereal/external/rapidjson/filereadstream.h
inc/cereal/external/rapidjson/filewritestream.h
inc/cereal/external/rapidjson/fwd.h
inc/cereal/external/rapidjson/istreamwrapper.h
inc/cereal/external/rapidjson/LICENSE
inc/cereal/external/rapidjson/memorybuffer.h
inc/cereal/external/rapidjson/memorystream.h
inc/cereal/external/rapidjson/ostreamwrapper.h
inc/cereal/external/rapidjson/pointer.h
inc/cereal/external/rapidjson/prettywriter.h
inc/cereal/external/rapidjson/rapidjson.h
inc/cereal/external/rapidjson/reader.h
inc/cereal/external/rapidjson/schema.h
inc/cereal/external/rapidjson/stream.h
inc/cereal/external/rapidjson/stringbuffer.h
inc/cereal/external/rapidjson/writer.h
inc/cereal/external/rapidjson/error/en.h
inc/cereal/external/rapidjson/error/error.h
inc/cereal/external/rapidjson/internal/biginteger.h
inc/cereal/external/rapidjson/internal/diyfp.h
inc/cereal/external/rapidjson/internal/dtoa.h
inc/cereal/external/rapidjson/internal/ieee754.h
inc/cereal/external/rapidjson/internal/itoa.h
inc/cereal/external/rapidjson/internal/meta.h
inc/cereal/external/rapidjson/internal/pow10.h
inc/cereal/external/rapidjson/internal/regex.h
inc/cereal/external/rapidjson/internal/stack.h
inc/cereal/external/rapidjson/internal/strfunc.h
inc/cereal/external/rapidjson/internal/strtod.h
inc/cereal/external/rapidjson/internal/swap.h
inc/cereal/external/rapidjson/msinttypes/inttypes.h
inc/cereal/external/rapidjson/msinttypes/LICENSE
inc/cereal/external/rapidjson/msinttypes/stdint.h
inc/cereal/external/rapidxml/license.txt
inc/cereal/external/rapidxml/manual.html
inc/cereal/external/rapidxml/rapidxml_iterators.hpp
inc/cereal/external/rapidxml/rapidxml_print.hpp
inc/cereal/external/rapidxml/rapidxml_utils.hpp
inc/cereal/external/rapidxml/rapidxml.hpp
inc/cereal/types/array.hpp
inc/cereal/types/atomic.hpp
inc/cereal/types/base_class.hpp
inc/cereal/types/bitset.hpp
inc/cereal/types/boost_variant.hpp
inc/cereal/types/chrono.hpp
inc/cereal/types/common.hpp
inc/cereal/types/complex.hpp
inc/cereal/types/deque.hpp
inc/cereal/types/forward_list.hpp
inc/cereal/types/functional.hpp
inc/cereal/types/list.hpp
inc/cereal/types/map.hpp
inc/cereal/types/memory.hpp
inc/cereal/types/optional.hpp
inc/cereal/types/polymorphic.hpp
inc/cereal/types/queue.hpp
inc/cereal/types/set.hpp
inc/cereal/types/stack.hpp
inc/cereal/types/string.hpp
inc/cereal/types/tuple.hpp
inc/cereal/types/unordered_map.hpp
inc/cereal/types/unordered_set.hpp
inc/cereal/types/utility.hpp
inc/cereal/types/valarray.hpp
inc/cereal/types/variant.hpp
inc/cereal/types/vector.hpp
inc/cereal/types/concepts/pair_associative_container.hpp
.debris
CppDependOut
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
.debris/tmp/lock